<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Profile</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!!profile" class="wrap">
    <div class="header">
      <div class="avatar">
        <ion-icon class="avatar" name="person-circle-outline"></ion-icon>
      </div>
      <div class="profile-info">
        <strong class="username">{{profile.username}}</strong>
        <span class="balance">Balance: <strong>{{profile.balance | currency}}</strong></span>
        <div class="games-amount">Games owned: <strong>{{profile.games.length}}</strong></div>
      </div>
    </div>
    <div class="body">

    </div>
  </div>
</ion-content>