<ion-menu side="end" menuId="{{menuId}}" contentId="main">
  <ion-header>
    <div *ngIf="profile" class="header-wrap">
      <ion-icon class="avatar" name="person-circle-outline"></ion-icon>
      <div class="profile-data">
        <div class="username-wrap">
          <span>Welcome, </span>
          <strong class="username" strong>{{profile.username}}</strong>
        </div>
        <div class="balance">
          <span>Your balance: </span>
          <strong>{{profile.balance | currency}}</strong>
        </div>
      </div>
    </div>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <ion-item *ngFor="let item of menuItems" (click)="navigateTo(item.link)">
        <ion-icon [name]="item.ionIconName"></ion-icon>
        {{item.title}}
      </ion-item>
      <ion-item (click)="forgetAccount()">
        <ion-icon name="trash-outline"></ion-icon>
        <span>Forget this account</span>
      </ion-item>
    </ion-list>
    <div class="menu-subcontent">
      <div class="version">
        <span>{{appVersion}}</span>
      </div>
    </div>
  </ion-content>
</ion-menu>