<app-side-menu [profile]="profile" ></app-side-menu>
<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Game store</ion-title>
    <ion-menu-button></ion-menu-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <ion-refresher slot="fixed" (ionRefresh)="onPageRefresh($event.target)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="grid">
    <app-game-card (click)="goToGamePage(game.id)" (onBuy)="onBuyGame($event)" *ngFor="let game of storeGames" [game]="game" [profile]="profile"></app-game-card>
  </div>
</ion-content>
