<ion-card *ngIf="game">
  <ion-item>
    <ion-label>{{game.title}}</ion-label>
    <ion-button *ngIf="!isGameInLibrary" (click)="onBuyButtonClick($event)" fill="outline" slot="end">{{getBuyButtonText()}}</ion-button>
    <ng-container *ngIf="isGameInLibrary">
      <ion-chip class="added-chip" color="dark">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Added</ion-label>
      </ion-chip>
    </ng-container>
  </ion-item>

  <ion-card-content>
    <img [src]="game.coverUrl" alt="">
    <div class="desc">{{game.description}}</div>
    <div class="game-data">
      <div class="left">
        <span>Distributor: {{game.distributor}}</span>
        <span>Release date: {{game.releaseDate | date:'mediumDate'}}</span>
      </div>
      <div class="right">
        <span class="com-rank-label">Community rating:</span> 
        <app-game-rating [rating]="game.rating" [width]="30"></app-game-rating>
      </div>
    </div>
  </ion-card-content>
</ion-card>